<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="724071099842-6mtlrne8p49k594bs2p4sjq4bbi0qd83.apps.googleusercontent.com">
    
    <script type="text/javascript">
    var CLIENT_ID = "724071099842-6mtlrne8p49k594bs2p4sjq4bbi0qd83";
    /**
     * The Sign-In client object.
     */
    var auth2;

    /**
     * Initializes the Sign-In client.
     */
    var initClient = function() {
    	console.log("Init");
        gapi.load('auth2', function(){
            /**
             * Retrieve the singleton for the GoogleAuth library and set up the
             * client.
             */
             console.log("Init 2");
             auth2 = gapi.auth2.init({ client_id: '724071099842-6mtlrne8p49k594bs2p4sjq4bbi0qd83.apps.googleusercontent.com'});
             console.log("Init 3");
            // Attach the click handler to the sign-in button
            auth2.attachClickHandler('signin-button', {}, onSuccess, onFailure);
            console.log("Init 4");
        });
    };

    /**
     * Handle successful sign-ins.
     */
    var onSuccess = function(user) {
        console.log('Signed in as ' + user.getBasicProfile().getName());
     };

    /**
     * Handle sign-in failures.
     */
    var onFailure = function(error) {
        console.log(error);
    };
    
    
    function onSignIn(googleUser) {
    	  var profile = googleUser.getBasicProfile();
    	  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    	  console.log('Name: ' + profile.getName());
    	  console.log('Image URL: ' + profile.getImageUrl());
    	  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    	}
    
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    
    </script>
</head>
<body onload="initClient()">
   <a href="#" onclick="signOut();">Sign out</a>
    
</body>
</html>